body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #ffffff;
}

h1, h2 {
  color: #121449;
}

.slider {
  width: 100%;
  margin-bottom: 20px;
}

button {
  padding: 15px;
  font-size: 16px;
  background-color: #121449;
  color: white;
  border: none;
  border-radius: 8px;
  width: 100%;
}

.question {
  margin-bottom: 30px;
}

.scale {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #555;
  margin-top: 5px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    #121449 50%,
    #ddd 50%
  );
  outline: none;
  margin-top: 10px;
}

/* Le "bouton" du curseur */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #121449;
  cursor: pointer;
  transition: transform 0.2s;
}

.slider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

.slider-container {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.slider-label {
  position: absolute;
  top: 28px; /* distance sous le curseur */
  transform: translateX(-50%);
  font-size: 12px;
  background-color: #121449;
  color: white;
  padding: 3px 8px;
  border-radius: 12px;
  white-space: nowrap;
  pointer-events: none;
  transition: left 0.15s ease;
}

.progress-container {
  width: 100%;
  height: 8px;
  background-color: #ddd;
  border-radius: 10px;
  margin-bottom: 25px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background-color: #121449;
  transition: width 0.3s ease;
}

.step {
  display: none;
}

.step.active {
  display: block;
}

#prevBtn {
  margin-top: 10px;
  background-color: #6b7280; /* gris */
}

.intro {
  font-size: 1.15rem;   /* légèrement plus grand */
  font-weight: bold;  /* sécurité si jamais <strong> est retiré */
}


.home-header { /*mise en page en-tête page index.html */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.home-header .logo {
  height: 60px;   /* plus grand */
  width: auto;
}

.bilan-page .header { /*mise en page en-tête page bilan.html */
  display: flex;
  align-items: center;
}
.bilan-page .logo {
  height: 50px;
}

.home-page {
  text-align: center;
  margin-top: 60px;
}

.start-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 25px;
  background-color: #1e3a8a;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 8px;
}

.start-btn:hover {
  background-color: #163172;
}

.back-home {
  text-decoration: none;
  font-weight: bold;
  color: #1e3a8a;
  font-size: 0.95rem;
}

.back-home:hover {
  text-decoration: underline;
}
