body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  padding-top: 70px; /* espace pour la navbar fixe */
}

.separator-focus {
  width: 100%;
  height: 1px;
  max-width: 100%;
  margin: 50px 0;
  background-color: #121449;
  opacity: 0.4;
  position: relative;
}

.separator-focus::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ffd700;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero {
  max-width: 1500px;
  margin: 50px auto;
  padding: 0 20px;
  text-align: center;
}

.hero-title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: #121449;
}

.hero-text {
  font-size: 1.05rem;
  line-height: 1.7;
  margin-bottom: 20px;
}


h1, h2 {
  color: #121449;
}

.slider {
  width: 100%;
  margin-bottom: 20px;
}

button {
  padding: 15px;
  font-size: 16px;
  background-color: #121449;
  color: white;
  border: none;
  border-radius: 8px;
  width: 100%;
}

.question {
  margin-bottom: 30px;
}

.scale {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #555;
  margin-top: 5px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    #121449 50%,
    #ddd 50%
  );
  outline: none;
  margin-top: 10px;
}

/* Le "bouton" du curseur */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #121449;
  cursor: pointer;
  transition: transform 0.2s;
}

.slider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

.slider-container {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.slider-label {
  position: absolute;
  top: 28px; /* distance sous le curseur */
  transform: translateX(-50%);
  font-size: 12px;
  background-color: #121449;
  color: white;
  padding: 3px 8px;
  border-radius: 12px;
  white-space: nowrap;
  pointer-events: none;
  transition: left 0.15s ease;
}

.progress-container {
  width: 100%;
  height: 8px;
  background-color: #ddd;
  border-radius: 10px;
  margin-bottom: 25px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background-color: #121449;
  transition: width 0.3s ease;
}

.step {
  display: none;
}

.step.active {
  display: block;
}

#prevBtn {
  margin-top: 10px;
  background-color: #6b7280; /* gris */
}

.intro {
  font-size: 1.15rem;   /* légèrement plus grand */
  font-weight: bold;  /* sécurité si jamais <strong> est retiré */
  max-width: 1500px;
  margin: 10px auto;
  padding: 0 20px;
  text-align: center;
}

/* Grille Partenaires */
.partner-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin: 40px 0;
  align-items: end;
}

.partner-item {
  text-align: center;
}

.partner-item img {
  max-width: 100px;
  height: auto;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
}

.partner-grid .partner-item p {
  font-size: 0.9rem;
  color: #121449;
  text-align: center;
}

.partner-item:hover img {
  transform: scale(1.05);
}

@media (max-width: 900px) {
  .partner-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .partner-grid {
    grid-template-columns: 1fr;
  }
}

.home-page .header { /*mise en page en-tête page index.html */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.home-page h2 {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 15px;
}
.home p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

.home ul {
  list-style: disc;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  margin: 0 auto 30px auto;
  padding-left: 20px;
  max-width: 600px;
}

.bilan-page .header { /*mise en page en-tête page bilan.html */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.bilan-page .logo {
  height: 50px;
}

.home-page {
  text-align: center;
}

.logo-main {
  max-width: 200px;
  width: 100%;
  height: auto;
  margin: 40px auto;
  display: block;
}

.start-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 25px;
  background-color: #121449;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 8px;
}

.start-btn:hover {
  background-color: #121449;
}

.back-home {
  text-decoration: none;
  font-weight: bold;
  color: #1e3a8a;
  font-size: 0.95rem;
}

.back-home:hover {
  text-decoration: underline;
}

/* Barre de navigation */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #121449;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  box-sizing: border-box;
  z-index: 2000;
  box-shadow: 0 6px 8px rgba(18, 20, 73, 0.4), 0 2px 4px rgba(18, 20, 73, 0.3);
}

.nav-logo {
  display: flex;
  position: absolute;
  left: 20px;
  align-items: center;
  height: 100%;
}

.logo-navbar {
  max-height: 55px;
  width: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; /* espace entre les liens */
  margin: 0;
  padding: 0;
}

/* Liens normaux */
.nav-links li {
  display: flex;
  align-items: center;
  height: 70px; /* même hauteur que la navbar */
}

.nav-links li a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 0 5px;
  transition: color 0.3s, opacity 0.3s;
}

/* Lien visité */
.nav-links li a:visited {
  color: white;
}

/* Survol  */
.nav-links li a:hover {
  opacity: 0.7;
  color: #ffd700; /* Couleur d'accent au survol */
}

/*Onglet actif */
.nav-links li a.active {
  color: #ffd700;
  font-weight: 700;
}

  .menu-toggle {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
  flex: 0 0 auto;
}

@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #121449;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 20px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
    margin-left: auto; /* pousse le burger à droite */
  }
}


/* Footer */
.footer {
  background-color: #121449; /* bleu Mentallia */
  color: white;
  padding: 20px 20px;
  margin-top: 40px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  opacity: 0.7;
}

/* Grid */
.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/* Colonnes */
.footer-col h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.footer-col p {
  margin: 5px 0;
}

/* Réseaux sociaux */
.footer-social {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icon {
  width: 30px;
  height: 30px;
}

/* Responsive : mobile */
@media (max-width: 768px) {
  .footer-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .footer-social {
    justify-content: center;
  }
}


.about-container {
  display: flex;
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 20px;
  gap: 40px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.about-photo {
  flex: 0 0 400px; /* largeur fixe réduite */
  width: 100%;      /* s’adapte au conteneur mais limité par flex */
  max-width: 400px; /* ne dépasse jamais 180px */
  border-radius: 10px;
}

.about-text {
  flex: 1;
  min-width: 250px;
}

    .about-text h1 {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .about-text p {
      margin-bottom: 20px;
      font-size: 1rem;
      text-align: justify;
    }

    /* Responsive : image au-dessus du texte sur mobile */
    @media (max-width: 768px) {
      .about-container {
        flex-direction: column;
        align-items: center;
      }

      .about-text {
        text-align: center;
      }
    }

.presta-page .header
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.presta-page {
  flex: 1;
  min-width: 250px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.presta {
  max-width: 1500px;
  margin: 50px auto;
  padding: 0 20px;
  text-align: left;
}

    .presta-text h1 {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .presta-text h2 {
      font-size: 1.5rem;
      margin-top: 30px;
      margin-bottom: 15px;
    }

    .presta h3 {
      font-size: 1.3rem;
      margin-bottom: 5px
    }

    .presta-text p {
      margin-bottom: 20px;
      font-size: 1rem;
      text-align: justify;
    }

.presta-text ul {
  list-style: disc;
  text-align: left;
  margin: 0 auto 30px auto;
  padding-left: 20px;
  max-width: 600px;
}

.presta-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}

.presta-card {
  text-align: center;
}

.presta-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .presta-grid {
    grid-template-columns: 1fr;
    gazp: 50px;
  }
}

.center-text {
  text-align: center;
  margin: 40px 0;
}

.custom-list2 {
  list-style: none;
  padding-left: 0;
  text-align: left;
  max-width: 400px;
  margin: 0 auto;
}

.custom-list2 li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
}

.custom-list2 li::before {
  content: "➤";
  position: absolute;
  left: 0;
}

.align-left {
  text-align: left;
}

.custom-list.align-left {
  margin-left: 0;
  margin-right: auto;
}


/* Page avis */
.avis-page {
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
}

.avis-header {
  text-align: center;
  margin-bottom: 50px;
}

.avis-header h1 {
  font-size: 2.2rem;
  color: #121449;
  margin-bottom: 15px;
}

.avis-subtitle {
  fontsize: 2.0rem;
  max-width: 700px;
  color: #121449;
  margin: 0 auto;
}

.avis-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.avis-item {
  display: grid;
  grid-template-columns: 120px 40px 1fr;
  gap: 20px;
  align-items: center;
}

.avis-logo img {
  max-width: 80px;
  height: auto;
}

.avis-quote {
  font-family: 'Cormorant Garamond', serif;
  font-size: 5rem;
  font-weight: 700;
  color: #ffd700;
  opacity: 0.85;
  line-height: 0.8;
  text-align: center;
}

.avis-texte p {
  font-size: 1.50rem;
  line-height: 1.6;
  margin-bottom: 10px;
  font-weight: 600;
}

.avis-text strong {
  color: #121449;
  font-weight: 600;
}

@media (max-width: 768px) {
  .avis-item {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .avis-quote {
    display: none;
  }

  .avis-logo img {
    margin: 0 auto 15px;
  }
}
