cbody {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #ffffff;
}

h1, h2 {
  color: #121449;
}

.slider {
  width: 100%;
  margin-bottom: 20px;
}

button {
  padding: 15px;
  font-size: 16px;
  background-color: #121449;
  color: white;
  border: none;
  border-radius: 8px;
  width: 100%;
}

.question {
  margin-bottom: 30px;
}

.scale {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #555;
  margin-top: 5px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    #121449 50%,
    #ddd 50%
  );
  outline: none;
  margin-top: 10px;
}

/* Le "bouton" du curseur */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #121449;
  cursor: pointer;
  transition: transform 0.2s;
}

.slider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

.slider-container {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.slider-label {
  position: absolute;
  top: 28px; /* distance sous le curseur */
  transform: translateX(-50%);
  font-size: 12px;
  background-color: #121449;
  color: white;
  padding: 3px 8px;
  border-radius: 12px;
  white-space: nowrap;
  pointer-events: none;
  transition: left 0.15s ease;
}

.progress-container {
  width: 100%;
  height: 8px;
  background-color: #ddd;
  border-radius: 10px;
  margin-bottom: 25px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background-color: #121449;
  transition: width 0.3s ease;
}

.step {
  display: none;
}

.step.active {
  display: block;
}

#prevBtn {
  margin-top: 10px;
  background-color: #6b7280; /* gris */
}

.intro {
  font-size: 1.15rem;   /* légèrement plus grand */
  font-weight: bold;  /* sécurité si jamais <strong> est retiré */
}


.home-page .header { /*mise en page en-tête page index.html */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.home-page h2 {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 15px;
}
.home p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

.home ul {
  list-style: disc;
  text-align: left;
  margin: 0 auto 30px auto;
  padding-left: 20px;
  max-width: 600px;
}

.bilan-page .header { /*mise en page en-tête page bilan.html */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.bilan-page .logo {
  height: 50px;
}

.home-page {
  text-align: center;
  margin-top: 60px;
}

.logo-main {
  max-width: 50px;
  width: 100%;
  height: auto;
  margin: 40px auto;
  display: block;
}

.start-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 25px;
  background-color: #121449;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 8px;
}

.start-btn:hover {
  background-color: #121449;
}

.back-home {
  text-decoration: none;
  font-weight: bold;
  color: #1e3a8a;
  font-size: 0.95rem;
}

.back-home:hover {
  text-decoration: underline;
}

/* Style général du menu */
body {
  margin: 0;
  font-family: Arial, sans-serif; /* Police simple et lisible */
}

.navbar {
  display: grid
  grid-template-columns: auto 1fr auto;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  background-color: #121449; /* Bleu Mentallia */
  color: white;
}

.nav-logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo-navbar {
  Max-height: 55px;
  width: auto;
  display: block;
  Height: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; /* espace entre les liens */
  margin: 0;
  padding: 0;
  height: 100%;
  position: static;
}

/* Liens normaux */
.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
  line-height: 1;
  display: flex;
  align-items: center;
  height: 100%
}

/* Lien visité */
.nav-links li a:visited {
  color: white;
}

/* Survol  */
.nav-links li a:hover {
  opacitu: 0.7;
  color: #ffec1fff; /* Couleur d'accent au survol */
}

/*Onglet actif */
.nav-links li a.active {
  color: #ffec1fff;
  font-weight: 700;
}

  .menu-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 26px;
  }

@media (max-width: 600px) {
  .nav-links {
    flex-direction: column;
    background-color: #121449;
    left: 0;
    position: absolute;
    top: 70px; /* juste en dessous du header */
    width: 100%;
    display: none; /* masqué par défaut */
    padding: 20px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
    align-items: center;
  }
}
